{{block "trait" .}}

<h4>{{.Name}}</h4>
<p>{{.Lore}}</p>
<p>{{.Description}}</p>

{{end}}

{{block "violence" .}}

<h4>
  {{.Name}} {{.ActionCost}} {{if eq .ActionCost "1"}} Beat {{else}} Beats
  {{end}}
</h4>
<p>{{.Lore}}</p>
<p>{{.Description}}</p>

{{end}}

{{ block "discipline" .}}

<div id="discipline">
  <h3>{{ .Name }} {{.Hp}} Hp</h3>
  <p>{{.WeaponSuggestions}}</p>
  <p>{{.ArmorSuggestions}}</p>
  {{range .Traits}} {{template "trait" .}} {{end}} {{range .Violence}}
  {{template "violence" .}} {{end}}
</div>

{{ end }}


{{ block "disciplines" .}}

<h2>Disciplines</h2>
<div id="disciplines">
  <input
    type="text"
    name="searchDisciplineString"
    hx-get="/filteredDisciplines"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#search-results"
    placeholder="Search..."
    hx-swap="innerHTML"
  />
  <div id="search-results">
    {{ range . }} {{ template "discipline" . }} {{ end }}
  </div>
</div>

{{end}}

{{block "disciplinesList" . }}

{{ range . }} {{ template "discipline" . }} {{ end }}

{{end}}
