{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <title>PALIHAN</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <nav class="nav">
  <h1 class="title" hx-get="/" hx-target="body">PALIHAN</h1>
  {{template "indexPage"}}
  </nav>
  <div class="hero">
    <div class="container content" id="mainPage"></div>
  </div>

</body>

</html>
{{end}}



{{define "indexPage"}}

<ul class="nav-links">
  <li class="nav-link" >
    <div class="button-link" hx-get="/techniques" hx-target="#mainPage" hx-swap="innerHTML">Techniques</div>
  </li>
  <li class="nav-link" >
    <div class="button-link" hx-get="/disciplines" hx-target="#mainPage" hx-swap="innerHTML">Disciplines</div>
  </li>
  <div></div>
</ul>


{{end}}